body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
h1 {
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
}
p {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center;
  margin-left: 25%;
}
.starter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #D6F9DD; This green is a light green*/
  background-color: #062726;
  margin: 0;
  padding: 0;
}
.bat {
  align-self: left;
  animation:
    blink 1.5s step-end infinite;
}
.navbar {
  /* display: inline-flex; */
  position: absolute;
  margin-right: 35px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  flex: 1;
}
.navbar a:hover {
  color: #52FFB8;
  animation:
    blink 1.5s step-end infinite;
}
.navbar h4 {
  font-family: 'Courgette', cursive;
  font-size: 24px;
  text-align: left;
  margin-right: 450px;
  margin-bottom: 30px;
}
.titles-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
#name {
  text-shadow: 0 0 5px #A8F9FF, 0 0 10px #52FFB8;
  padding-right: 20px;
  font-size: 38px;
}
#subtitle {
  text-shadow: 0 0 15px #A8F9FF, 0 0 20px #52FFB8;
  font-family: 'Courgette', cursive;
  color: #fff;
  flex-wrap: wrap;
  text-align: right;
  font-size: 26px;
  padding-right: 10px;
}
.text-row {
  display: flex;
  flex-flow: row;
  margin-bottom: 500px;
}
.text-row p {
  flex: 1 auto;
  padding: 0.5rem;
  text-align: left;
}
.text-row span {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-shadow: 0 0 15px #A8F9FF, 0 0 20px #52FFB8;
}
.text-collage {
  display: flex;
  flex-flow: row wrap;
}
.text-collage p {
  padding-right: 10px;
  text-align: left;
  flex: 1 auto;
  padding: 0.3rem;
}
.text-collage span {
  display: block;
  /* background-color: #D6F9DD; */
  padding: 0.3rem 1rem;
  border-radius: 3px;
  color: #fff;
  text-shadow: 0 0 15px #A8F9FF, 0 0 20px #52FFB8;
}
#mixer {
  width: 180px;
  height: 200px;
  border-radius: 10px;
  border: 2px groove #000;
  margin-left: 160px;
}
.about {
  max-height: 100vh;
}
#line-rule {
  width: 30%;
}
.about h1 {
  font-size: 32px;
}
.about p {
  text-align: center;
  font-size: 24px;
  margin-right: 20%;
  margin-left: 20%;
}
#fight-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.skill-title {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  color: #52FFB8;
  font-weight: 600;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.skill-names {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  font-size: 18px;
}
.projects {
  margin-top: 120px;
  background-color: #D6F9DD;
  padding: 20px;
  max-height: 100vh;
}


@keyframes blink {
  from, to { color: #45F0DF; }
  50% { color: #fff; }
}
