body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
}
.starter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #D6F9DD; This green is a light green*/
  background-color: #062726;
  margin: 0;
  padding: 0;
}
.bat {
  align-self: left;
  animation:
    blink 1.5s step-end infinite
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar a:hover {
  color: #52FFB8;
  animation:
    blink 1.5s step-end infinite;
}
.navbar h4 {
  font-family: 'Courgette', cursive;
  font-size: 24px;
  text-align: left;
  align-items: center;
  margin-right: 15px;
}
.titles-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
#name {
  text-shadow: 0 0 5px #A8F9FF, 0 0 10px #52FFB8;
  padding-right: 20px;
  font-size: 38px;
}
#subtitle {
  text-shadow: 0 0 15px #A8F9FF, 0 0 20px #52FFB8;
  font-family: 'Courgette', cursive;
  color: #fff;
  flex-wrap: wrap;
  text-align: right;
  font-size: 26px;
  padding-right: 20px;
}
.test {
  display: flex;
  flex-flow: row;
  margin-bottom: 650px;
}
.test p {
  flex: 1 auto;
  padding: 0.5rem;
  text-align: left;
}
.test span {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: #000;
  text-shadow: 0 0 15px #A8F9FF, 0 0 20px #52FFB8;
}
.text-collage {
  display: flex;
  flex-flow: row wrap;
}
.text-collage p {
  padding-right: 15px;
  text-align: left;
  flex: 1 auto;
  padding: 0.5rem;
  text-align: center;
}
.text-collage span {
  display: block;
  /* background-color: #D6F9DD; */
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: #000;
  text-shadow: 0 0 15px #A8F9FF, 0 0 20px #52FFB8;
}
#mixer {
  width: 180px;
  height: 200px;
  border-radius: 10px;
  border: 2px groove #000;
}
.about {
  min-height: 100vh;
}
#line-rule {
  width: 30%;
}
p {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

@keyframes blink {
  from, to { color: #45F0DF; }
  50% { color: #fff; }
}
